.new-tweet {
  display: flex;
  flex-direction: column;
}

.error {
  border: 2px solid red;
  color: red;
  padding: 1%;
  margin: 2%;
}

form {
  display: flex;
  flex-direction: column;
}

#humming {
  margin-top: 5%;
}

#tweet-text {
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  resize: none;
  height: auto;
}

#tweet-text:focus {
  outline: none;
}


#submit-tweet {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

#submit-tweet > button {
  background-color: #4056a1;
  color: #ffffff;
  font-family: 'Bungee', cursive;
}

.counter {
  font-family: 'Bungee', cursive;
}

.red-text {
  color: red;
}